/* defualt values for all content */
:root {
  --tumbleweed: #cea07eff;
  --banana-mania: #edd9a3ff;
  --pale-spring-bud: #e2e8c0ff;
  --bright-lilac: #cd8de5ff;
  --dark-byzantium: #602f50ff;
  --french-lilac: #975E9B;
  --lavender-blush: #F1E4EE;
  min-height: 100vh;
  background: white;
  line-height: 1.6;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}